'.source.python':
  'Import defaults':
    'prefix': 'impd'
    'body': 'from lib.imports.default import *'

  'Import module':
    'prefix': 'imm'
    'body': 'import lib.$1 as $2'

  'Create skeleton API':
    'prefix': 'bapi'
    'body': """
      from lib.imports.default import *

      def call(**kwargs):
         manager = Manager()
    """

'.source.js':
  'Log to console':
    'prefix': 'log'
    'body': 'console.log($1)$2'

  'Import React':
    'prefix': 'ir'
    'body': "import React, { Component } from 'react'"

  'Import Connect':
    'prefix': 'ic'
    'body': "import { connect } from 'react-redux'"

  'Import platform component':
    'prefix': 'ipc'
    'body': "import {$1} from '~/components'"

  'Connect Component to Redux Store':
    'prefix': 'con'
    'body': """
      export default connect(state => ({
        $1
      }))($2)
    """

  'Create Div JSX':
    'prefix': 'div'
    'body': '<div className="$1">$2</div>'

  'Create Custom JSX':
    'prefix': 'jsx'
    'body': '<$1>$2</$1>'

  'Create react component':
    'prefix': 'class'
    'body': """
      import React, { Component } from 'react'

      class $1 extends Component {
        constructor(props) {
          super(props)
        }

        render() {
          return (
            <div>
            </div>
          )
        }
      }

      export default $1
    """

  'Create Button Component':
    'prefix': 'btn'
    'body': """
      <Button
        $1
      >
        $2
      </Button>
    """

  'Import Button Component':
    'prefix': 'ib'
    'body': "import { Button } from '~/components'"

  'Create default react component':
    'prefix': 'comp'
    'body': """
      export default class $1 extends Component {
        constructor(props) {
          super(props)
        }$2
      }
    """

  'set state':
    'prefix': 'ss'
    'body': 'this.setState({ $1: $2 })$3'

  'Conditional react component':
    'prefix': 'tern'
    'body': """
      {$1 ? (
        <$2>$3</$2>
      ): <$4>$5</$4>}
    """

  'create onClick':
    'prefix': 'click'
    'body': "onClick={($1) => $2}"
